body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  width: 100%;
  height: 65vh;
  background-image: url("/images/background2.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s transform ease;
}
.header-container .left-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 25px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(231, 226, 226, 0.2);
  cursor: pointer;
}
.header-container .right-box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10px;
  font-size: 25px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(231, 226, 226, 0.2);
}
.header-container .navbar-container {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: fixed;
  z-index: 2;
}
.header-container .navbar-container .nav {
  display: flex;
  width: 60%;
}
.header-container .navbar-container .nav a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.header-container .navbar-container .nav a:hover {
  color: #1c7c26;
}
.header-container .navbar-container .search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-container .navbar-container .search-container .search-input {
  background: transparent;
  border: 1px solid rgb(111, 110, 110);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  height: 34px;
  padding-left: 10px;
  width: 20px;
  visibility: hidden;
  padding-top: 2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: 1s width ease;
}
.header-container .navbar-container .search-container .search-input.active {
  width: 250px;
  visibility: visible;
}
.header-container .navbar-container .search-container .search-input::placeholder {
  color: rgb(182, 180, 180);
  font-size: 16px;
  font-weight: 300;
  border-right: none;
}
.header-container .navbar-container .search-container .search-input:focus {
  outline: none;
}
.header-container .navbar-container .search-container .delete_value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #888;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
}
.header-container .navbar-container .search-container .icon-search {
  position: absolute;
  right: -40px;
  width: 60px;
  height: 34px;
  border: none;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header-container .navbar-container .search-container .icon-search.active {
  border: solid 1px rgb(111, 110, 110);
  border-left: none;
}
.header-container .navbar-container .search-container .icon-search i {
  color: white;
  font-size: 22px;
  margin-top: 5px;
  cursor: pointer;
}
.header-container .navbar-container .container-user {
  display: flex;
  margin-left: 80px;
}
.header-container .navbar-container .container-user .sign, .header-container .navbar-container .container-user .login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  background-color: rgba(231, 226, 226, 0.1);
  font-family: "Roboto", sans-serif;
  user-select: none;
  cursor: pointer;
}
.header-container .navbar-container .container-user .sign {
  color: white;
}
.header-container .navbar-container .container-user .sign:hover {
  background-color: rgba(170, 170, 170, 0.3);
}
.header-container .navbar-container .container-user .login {
  margin-left: 20px;
  background-color: rgb(22, 176, 133);
}
.header-container .navbar-container .container-user .login:hover {
  background-color: rgba(51, 189, 81, 0.3);
}
.header-container .navbar-container .container-user i {
  color: white;
  font-size: 25px;
  margin-top: 12px;
}
.header-container .navbar-container .container-user .container-face {
  margin-top: 5px;
  width: 120px;
  position: relative;
}
.header-container .navbar-container .container-user .container-face img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header-container .navbar-container .container-user .container-face i {
  position: absolute;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.search-section {
  margin: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac_pham_kinh_dien, .thu_vien_de_xuat, .sach_dang_xem {
  margin-bottom: 40px;
  color: white;
}
.tac_pham_kinh_dien .container-full, .thu_vien_de_xuat .container-full, .sach_dang_xem .container-full {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.tac_pham_kinh_dien .container-full .fa-arrow-left, .thu_vien_de_xuat .container-full .fa-arrow-left, .sach_dang_xem .container-full .fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.tac_pham_kinh_dien .container-full .fa-arrow-right, .thu_vien_de_xuat .container-full .fa-arrow-right, .sach_dang_xem .container-full .fa-arrow-right {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
.tac_pham_kinh_dien .container-full .container-book, .thu_vien_de_xuat .container-full .container-book, .sach_dang_xem .container-full .container-book {
  transition: 1s transform;
  margin-top: 20px;
  display: flex;
  width: 100%;
  padding: 0 20px;
}
.tac_pham_kinh_dien .container-full .container-book .book-item, .thu_vien_de_xuat .container-full .container-book .book-item, .sach_dang_xem .container-full .container-book .book-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin-right: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  flex-shrink: 0;
  cursor: pointer;
}
.tac_pham_kinh_dien .container-full .container-book .book-item:hover, .thu_vien_de_xuat .container-full .container-book .book-item:hover, .sach_dang_xem .container-full .container-book .book-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.tac_pham_kinh_dien .container-full .container-book .book-item img, .thu_vien_de_xuat .container-full .container-book .book-item img, .sach_dang_xem .container-full .container-book .book-item img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 45px;
}
.tac_pham_kinh_dien .container-full .container-book .book-item a button, .thu_vien_de_xuat .container-full .container-book .book-item a button, .sach_dang_xem .container-full .container-book .book-item a button {
  background-color: #1c7c26;
}
.tac_pham_kinh_dien .container-full .container-book .book-item a button:hover, .thu_vien_de_xuat .container-full .container-book .book-item a button:hover, .sach_dang_xem .container-full .container-book .book-item a button:hover {
  background-color: rgb(10, 43, 10);
}

#registerForm, #loginForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(5, 5, 5, 0.5);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#registerForm .modal-content, #loginForm .modal-content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  border: 1px solid #888;
  color: rgb(255, 255, 255);
  width: 35%;
  height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  margin-bottom: 8vh;
  margin-top: 6vh;
  backdrop-filter: blur(5px);
  position: relative;
}
#registerForm .modal-content #closeBtn, #registerForm .modal-content #closeBtn1, #loginForm .modal-content #closeBtn, #loginForm .modal-content #closeBtn1 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 17px;
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
#registerForm .modal-content form, #loginForm .modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#registerForm .modal-content form input, #loginForm .modal-content form input {
  padding-left: 1rem;
  width: 70%;
  height: 3rem;
  background-color: transparent;
  margin-bottom: 1rem;
  border: solid 1px white;
  border-radius: 0.7rem;
  color: white;
  cursor: pointer;
}
#registerForm .modal-content form label, #loginForm .modal-content form label {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  margin-left: -9rem;
  color: rgb(139, 138, 138);
}
#registerForm .modal-content form button, #loginForm .modal-content form button {
  width: 74%;
  background-color: rgb(29, 194, 155);
  height: 3rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1rem;
}
#registerForm .modal-content form .remind, #loginForm .modal-content form .remind {
  color: red;
  display: none;
}
#registerForm .modal-content .login-other, #loginForm .modal-content .login-other {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#registerForm .modal-content .login-other button, #loginForm .modal-content .login-other button {
  background-color: rgba(172, 170, 170, 0.3);
  color: white;
  width: 45%;
  height: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
#registerForm .modal-content .login-other button i, #loginForm .modal-content .login-other button i {
  margin-right: 0.5rem;
  font-size: 22px;
}
#registerForm .modal-content .clause, #loginForm .modal-content .clause {
  margin-top: 3rem;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-search {
  box-shadow: 0 -20px 20px black;
  margin-left: 3rem;
}
.container-search .show-result {
  align-items: center;
  display: flex;
  color: white;
}
.container-search .show-result .icon-find {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 55px;
  background-color: rgba(168, 168, 168, 0.2);
  border-radius: 1rem;
}
.container-search .show-result .icon-find i {
  font-size: 30px;
}
.container-search .show-result .result span {
  color: green;
}
.container-search .book-search {
  margin-top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20%;
}
.container-search .book-search img {
  width: 300px;
  height: 400px;
}
.container-search .book-search button {
  background-color: #1c7c26;
}
.container-search .not-find {
  color: white;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container-search .not-find i {
  font-size: 60px;
  margin-bottom: 1rem;
}

.footer-index {
  background-color: black;
  color: rgb(171, 169, 169);
}
.footer-index .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-index .container .contact-email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-index .container .contact-email i {
  margin-right: 1rem;
}
.footer-index .container .contact-email i:hover {
  color: white;
}
.footer-index .container .contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-index .container .contact-phone i {
  margin-right: 1rem;
}
.footer-index .container .contact-phone i:hover {
  color: white;
}
.footer-index .container .contact-facebook i {
  margin-right: 1rem;
}
.footer-index .container .contact-facebook i:hover {
  color: white;
}
.footer-index .container .contact-facebook a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */